<div class="p-4">
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">account_balance</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">credit_card</mat-icon> -->
    <mat-accordion>
        <mat-expansion-panel *ngFor="let account of allAccounts" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="has-text-weight-bold">            
                    {{account[0].accountType}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="account">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Balance</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of account">
                            <td>{{item.name}}</td>
                            <td>{{item.fundBalance | currency: 'INR'}}</td>
                        </tr>
                    </tbody>

                </table>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>