<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-icon>
    <span class="material-icons mx-2">
      currency_rupee
    </span>
  </mat-icon>
  <span class="mx-2">Budgetify</span>
  <div class="spacer"></div>
  <div class="example-flex-container">
    <div class="example-button-row">
      <button mat-raised-button (click)="openTransactionDialog()" class="mx-2">Add Transaction</button>
      <button mat-raised-button class="mx-2">Fill Envelopes</button>
    </div>
  </div>
</div>

<div class="content" role="main">
  <div class="columns">
    <div class="column is-two-fifths mx-5 left-nav">
      <mat-tab-group>
        <mat-tab label="Envelopes">
          <div class="is-block has-text-right">
            <button mat-button color="primary" class="mt-2" (click)="addEnvelopeDialog()">Add Envelope</button>
          </div>
        </mat-tab>
        <mat-tab label="Account">
          <div class="is-block has-text-right">
            <button mat-button color="primary" class="mt-2" (click)="addAccountDialog()">Add Account</button>
          </div>
          <app-get-accounts></app-get-accounts>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="column mx-5">
  
      <app-get-transactions></app-get-transactions>

    </div>
  </div>

</div>


<router-outlet></router-outlet>